<h2 style="color: black; font-size:200%;" >Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

<br>
<li class="first leaf">
<a href="https://www.facebook.com/GuyYarkoniRealtor/" class="facebook">Facebook</a>
                                            </li>
<li class="leaf"><a href="https://www.instagram.com/luxrealtyguy/" class="flickr">Flickr</a></li>
   <li class="leaf"><a href="https://plus.google.com/u/0/114591875977764174545" class="google">Google+</a></li>
                                        
<li class="leaf"><a href="https://www.linkedin.com/in/guy-yarkoni-b56b9325/" class="linkedin">LinkedIn</a></li>
                                        
<li class="leaf"><a href="https://twitter.com/guyyarkoni_to" class="twitter">Twitter</a></li>
                                        
<li class="last leaf"><a href="https://www.youtube.com/channel/UCb9RBX__Qa_GLdM195su7-A" class="vimeo">Vimeo</a></li
                                        