<% if current_user.role == 'Seller' %>
<h1 style= "color: black;"> Seller </h1>
<%= link_to "Profile",buyers_new_path, class:"btn btn-primary"%> | 
<%= link_to "Create New Property", new_property_path, class: "btn btn-primary" %> |
<%= link_to "Property", properties_path, class: "btn btn-primary" %> |
<%= link_to "My Property", properties_path(my_property: true), class: "btn btn-primary" %> |

<div class="row"> 
    <% if @properties.present? %>
    <% @properties.each do |p|%>
    <div class="card" style="width: 18rem; background-color: #fff">
    <div class="card-body">
    <% if p.avatar.attached? %>
      <%= image_tag p.avatar, width: "200px" %>
    <% end %>
    <h5 class="card-title"><%= p.title%></h5>
    <p class="card-text">
                 <%= p.location %> <br>
                <%= p.rate %><br>
                <%= p.area %>
    </p>
    <div class="card" style="width: 10rem; background-color: #000;">
    <%= link_to "View", property_path(p), class:"btn btn-primary"%>

    </div>
    </div>
    </div>
        <% end %>
<% end %>
<% else %>
<center>
You are at wrong section
<% end %>

