<body style="background-color:darkcyan;">
<h1 style="border:2px solid black;"> Seller </h1>

<%= link_to "Profile",buyers_new_path, class:"btn btn-primary"%>
<% if @properties.present? %>
    <% @properties.each do |p|%>
        <div class="card" style="width: 18rem; background-color: #fff">
          <div class="card-body">
            <h5 class="card-title"><%= p.title%></h5>
            <p class="card-text">
                <%= p.location %>
                <%= p.rate %>
                <%= p.area %>
            </p>
            <div class="card" style="width: 10rem; background-color: #000;">
            <%= link_to "View", property_path(p), class:"btn btn-primary"%>
          </div>
        </div>
    <% end %>
<% end %>

<%= link_to "Create New Property", new_property_path%>

