<% if current_user.role == 'Seller' %>
<p id="notice"><%= notice %></p>
<h1>Properties</h1>
<table>
  <thead>
    <tr>
      <table id="student" border="2" layout= "fixed" width="100%"  >
        <colgroup>
        <col style="width: 12%" />
        <col style="width: 20%" />
        <col style="width: 15%" />
        <col style="width: 20%" />
        <col style="width: 30%" />
      <th>Title</th>
      <th>Location</th>
      <th>Rate</th>
      <th>Area</th>
      <th>Description</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <table id="student" border="1" layout= "fixed" width=" 100%"  >
        <colgroup>
        <col style="width: 12%" />
        <col style="width: 20%" />
        <col style="width: 15%" />
        <col style="width: 20%" />
        <col style="width: 30%" />

        <td><%= property.title %></td>
        <td><%= property.location %></td>
        <td><%= property.rate %></td>
        <td><%= property.area %></td>
        <td><%= property.description %></td>
        <td><%= image_tag property.avatar, width: "50px" if property.avatar.attached? %></td>
        <td><%= link_to 'Show', property %></td>
        <% if current_user.role == 'Seller' %>
          <td><%= link_to 'Edit', edit_property_path(property) %></td>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Property', new_property_path %>
<% else %>
<center>
<h1 style="color: black;"> you are at wrong section </h1>
<% end %>
