<p id="notice"><%= notice %></p>

<h1>Properties</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Property type</th>
      <th>Location</th>
      <th>Rate</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td><%= property.property_type %></td>
        <td><%= property.location %></td>
        <td><%= property.rate %></td>
        <td><%= property.area %></td>
        <td><%= link_to 'Show', property %></td>
        <% if current_user.role == 'Seller' %>
          <td><%= link_to 'Edit', edit_property_path(property) %></td>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
