<div style="float: left;">
  <%= property.likes.count %>
  <% like = current_user.likes.find_by(property: property) %> 
  <% if like.nil? %>
  <%=  link_to likes_path({ like: { property_id: property.id } }), method: :property do %>
  <%= image_tag "like-inactive.png", style: "height: 40px;" %>
  <% end %>
  <% else %>
  <%=  link_to  like_path(like), method: :delete do %>
  <%= image_tag "like-active.png", style: "height: 40px;" %>
  <% end %>
  <% end %>
</div>

