<div class='col-md-12'>
  <div class='col-md-6'>

    <p id="notice"><%= notice %></p>
       <strong>Image:</strong> <br>
     <%= image_tag @property.avatar, width: "300px" if @property.avatar.attached?  %> 
     <div class="row">
    <p> 
      <strong>Title:</strong>
      <%= @property.title %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @property.location %>
    </p>

    <p>
      <strong>Rate:</strong>
      <%= @property.rate %>
    </p>

    <p>
      <strong>Area:</strong>
      <%= @property.area %>
    </p>

    
    <p>
      <strong>Description:</strong>
      <%= @property.description %>
    </p>
</div>
  
    <% if current_user.role == 'seller' %>
    <%= link_to 'Edit', edit_property_path(@property) %> |
    <% end %>
    <%= link_to 'Back', properties_path %> 
    <%= button_to 'Interest', property_likes_path(@property), method: :property %>

     </div>
  <div class='col-md-6'>
  <p><%= @property.likes.count %> <%= (@property.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  </div>
</div> 
