<p id="notice"><%= notice %></p>

<h1>Buyers</h1>


<% if @properties.present? %>
    <% @properties.each do |p|%>
        <div class="card" style="width: 18rem; background-color: #cedae9;">
          <div class="card-body">
            <h5 class="card-title"><%= p.title%></h5>
            <p class="card-text">
                <%= p.location %>
                <%= p.rate %>
                <%= p.area %>
            </p>
            <%= link_to "View", property_path(p), class:"btn btn-primary"%>
          </div>
        </div>
    <% end %>
<% end %>


<br>

